
{% extends "base.html" %}

{% block title %}
Search
{% endblock title %}

{% block content %}

<nav class="bg-white text-gray-800 shadow-md rounded-lg m-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <div class="flex-shrink-0">
                <a href="/" class="text-xl font-medium tracking-tight text-blue-600 hover:text-blue-800 transition duration-300">Search Engine</a>
            </div>
            <div class="hidden sm:block">
                <div class="ml-10 flex items-center space-x-4">
                    <a href="/websites" class="text-gray-600 hover:bg-blue-50 hover:text-blue-700 px-4 py-2 rounded-full text-sm font-medium transition duration-300">Websites</a>
                    <a href="/pages" class="text-gray-600 hover:bg-blue-50 hover:text-blue-700 px-4 py-2 rounded-full text-sm font-medium transition duration-300">Pages</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container mx-auto px-4 max-w-2xl mt-8">
    <div class="text-center mb-8">
        <p class="text-xl mb-4">Type to search:</p>
        <input type="text" name="query" 
               class="w-full border-2 border-gray-300 p-4 rounded-lg text-lg focus:outline-none focus:border-blue-500 transition duration-300" 
               hx-post="/search"
               hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load" 
               hx-target="#search-results"
               hx-indicator=".htmx-indicator" 
               placeholder="Enter your search query..."
        />
    </div>

    <div id="search-results" class="mt-8"></div>
</div>
{% endblock content %}