{% extends "base.html" %}

{% block title %}
List of stats
{% endblock title %}

{% block content %}
<h1>stats</h1>
<div class="mb-10">
    {% for item in items %}
    <div class="mb-5">
            <div>
                <label><b>{{"domain" | capitalize }}:</b> {{item.domain}}</label>
                </div>
            <div>
                <label><b>{{"links" | capitalize }}:</b> {{item.links}}</label>
                </div>
            <a href="/stats/{{ item.id }}/edit">Edit</a>
            <a href="/stats/{{ item.id }}">View</a>
        </div>
    {% endfor %}

    <br />
    <br />
    <a href="/stats/new">New stats</a>
</div>
{% endblock content %}
